body{
    font-size:100%;
    margin: 0;
    background: #17141f;
    font-family: Helvetica, Verdana, Arial;
    color: #e8e8e8;
}
a{
    color: white;
}
a:visited{
    color: inherit;
}
.interface{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
    background: rgb(54, 48, 70);
    border-bottom: 1px solid rgb(103, 103, 103);
}
.top-links{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 1em;
    margin-top: 5px;
}
.top-link{
    margin: 0px 7px;
}
.results .list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.video-card{
    margin: .7em;
    max-width: 320px;
    padding: 1em;
    background: #2b2b2b;
    border-radius: 5px;
    position: relative;
}
@media screen and (max-width: 350px){
    .video-card{
        padding: 1em 0;
    }
}
.video-card--selected{
    background: #1c4a75;
}
.video-card-thumb{
}
.video-card__title{
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.video-card__name{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.video-card__game{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.video-card__game a {
    color: white;
}
.video-card__overlay{
    position: absolute;
    background-color: rgba(0,0,0,.6);
    padding: 0 .2em;
    font-size: .8em;
    color: white;
}
.video-card__overlay.video-length{
    top:25px;
    right: 25px;
}
.video-card__overlay.video-viewers{
    top:176px;
    left: 20px;
}
.video-card__overlay.video-wl{
    top: 17px;
    left: 16px;
    background:none;
    cursor:pointer;
    display: none;
}
.video-card:hover .video-card__overlay.video-wl{
    display: block;
}
.video-card__overlay.video-wl img{
    width: 25px;    
    height: 25px;
}
.video-card__viewers a{
    float: right;
}
.video-card__name a{
    color: #60a4ff;
}
.video-card__logo{
    float: left;
    margin-right: 5px;
}
.video-card__logo img{
    width: 50px;
    height: 50px;
}

.form-head{
}

.form-head>*{
    margin: 5px;
}
input{
    font-family: Helvetica, Verdana, Arial;
}
.interface form input{
    color: #e8e8e8;
    font-size:25px;
    border-radius: 4px;
    background: #383838;
    border: none;
    padding: .1em .3em;

    border: 1px solid #6f6f6f;
}
.interface form input:focus{
    outline:none;
}
.channelInput{
    max-width: 260px;
}
.search-submit{
    cursor:pointer;
}
.pre-results .link-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.pre-results .link-list .link-list__item{
    margin-right: 15px;
    /*background: #211c1c;*/
    margin: .1em;
    padding: .1em .2em;
    border-radius: 3px;
}
.pre-results .link-list .link-list__link{
    color: #a8d0c2;
}
.pre-results .link-list .link-list__link--live{
    color: #a8d0c2;
}
.pre-results .link-list .link-list__remove{
    color: #a01a1a;
    cursor: pointer;
}
.channel-title{
    font-size: 25px;
    color:  #60a4ff;
    margin: 1em 0;
    text-align: center;
    font-weight: bold;
}
.channel-title__info{
    font-size: 20px;
    color:  #eaeaea;
}
.channel-currently-live-link{
    color: #4abc4a;
}
.channel-currently-live-link:visited{
    color: #4abc4a;
}
.channel-title__channel{
    display: flex;
    justify-content: center;
}
.channel-title__channel-fav{
    cursor: pointer;
    margin-left: 10px;
    display:none;
}
.channel-title__channel-fav svg{
    fill: white;
}
.channel-title__channel-fav:hover svg{
    fill: #af97bb;
}
.channel-title__channel-fav.faved svg{
    fill: #af43ea;
}

.video-card .thumb-container{
    position: relative;
    overflow: hidden;
    width: 320px;
    height: 180px;
    margin-bottom: .2em;
}
.video-card .resume-bar{
    position: absolute;
    bottom: 0px;
    background: #9a7fcc;
    height: 6px;
}
.video-card__date a{
    float: right;
}
.img-container{

}
.img-container.animated{
    animation: preview-card-thumbnail__movement 6s steps(10) infinite
}

 @keyframes preview-card-thumbnail__movement {
    to {
        transform: translateY(-100%)
    }
}



dialog{
    top: 100px;
    word-break: break-all;
    max-width: 900px;
}
dialog form{
    margin: 0;
}
dialog menu{
    margin: 0;
    margin-top: .5em;
    float:right;
}
dialog button{
    color: #FFF;
    background-color: #0095ff;
    border: 1px solid transparent;
    border-color: #07c;
    padding: .5em 1.5em;
    box-shadow: inset 0 1px 0 #66bfff;
}
dialog input{
    box-shadow: 0 1px 2px rgba(12,13,14,0.1) inset;
    border: 1px solid #888484;
    padding: .5em;
    width: 100%;
}
dialog input[type=file]{
    display:none;
}

#prompt{

}
#promptFile input[type=text]{
    display:none;
}
#promptFile input[type=file]{
    display:inline;
}
#dialog input, #alert input{
    display:none;
}
#alert .dialog-cancel{
    display:none;
}
#alert .dialog-text{
    max-height: 50vh;
    overflow-y: scroll;
}

.search-option{
    display: inline-block;
}
.search-option label{
    display: block;
    margin: .3em 0;
}
.search-option__type{
    display: flex;
}
.search-type-button{
    background: #2b2b2b;
    border: 1px solid #6f6f6f;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}
.search-type-button.active{
    background: #405e86;
    border-color: white;
}
.awesomplete > ul > li{
    color: black;
}


.pagination-pages{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    margin-top: 10px;
}
.pagination-page{
    cursor: pointer;
    padding: .2em .5em;
    background: #383838;
    margin: .2em;
    border-radius: 3px;
    border: 1px solid #585858;
}
.pagination-page:hover{
    background: #ababbf
}
.pagination-page.pagination-page-current{
    background: #60a4ff;
    cursor: initial;
}
.pagination-page.pagination-page-gap{
    background: #49595a;
    /*cursor: initial;*/
}
