html{
    font-size: 62.5%;
    text-size-adjust: 100%;
}
body{
    margin: 0;
    padding: 0;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 1.2rem;
    overflow:hidden;
    background: black;
}
* {
    box-sizing: border-box;
}
.app{
    margin: 0;
    padding: 0;
}
.player{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    max-height: 100vh;
}

.player video{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.player-overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.player-interface{
    margin: 0;
    padding: 0;
}
.player-interface__bottom{
    background: linear-gradient(0deg,rgba(0,0,0,.8) 0,rgba(0,0,0,.35) 60%,transparent);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    padding-top: 4em;
    display: flex;
    flex-wrap: wrap;
    pointer-events: none;
    z-index: 3;
    transition: opacity .5s;
}

.player-interface .player-time{
    display: block;
    width: 100%;
    position: relative;
    padding: 0 1em;
    box-sizing: border-box;
    top: 4px;
    pointer-events: auto;
    flex: 0 1 auto;
    max-width: 100%;
}
.player-interface .player-time-display{
    line-height: 1.4em;
    margin: 0 .5em;
    position: relative;
    height: 1.4em;
    color: #fff;
}
.player-time-display{
    font-size: 1.2em;
}
.player-time-display .player-current-time{
    float: left;
}
.player-time-display .player-total-time{
    float: right;
}

.player-interface .player-time-slider{
    margin: 0 5px;
    padding: 0;
    height: 24px;
    position: relative;
    cursor: pointer;
}
.player-interface .player-time-slider:focus{
    outline: none;
}
.player-interface .player-time-slider:before{
    display: block;
    position: absolute;
    height: .4em;
    top: 10px;
    content: "";
    width: 100%;
    background: hsla(0,0%,100%,.35);
}

.player-time-slider__buffer{
    width: 0;
    background: hsla(0,0%,100%,.85);
    display: block;
    position: absolute;
    height: .4em;
    top: 10px;
}
.player-time-slider__seen{
    width: 0;
    background: #a991d4;
    display: block;
    position: absolute;
    z-index: 2;
    /*mix-blend-mode: overlay;*/
    height: .4em;
    top: 10px;
}
.player-time-slider__buffer{
    width: 0;
    background: white;
    display: block;
    position: absolute;
    z-index: 0;
    height: .4em;
    top: 10px;
}

.player-time-slider__muted-segments{
    display: block;
    position: absolute;
    height: .4em;
    top: 10px;
    width: 100%;
    overflow: hidden;
}
.player-slider__muted{
    background: rgba(212,73,73,.5);
    z-index: 1;
    top: 0;
    display: block;
    position: absolute;
    height: .4em;
}

.player-interface__bottom .player-buttons-left{
    float: left;
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
    pointer-events: auto;
    /*flex: 0 1 auto;*/
    max-width: 100%;
}
#icon_pause{display:none;}

.player-buttons-left .player-button{
    height: 4em;
    width: 3em;
    position: relative;
    background: none;
    padding: 0 0 1em;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    float: left;
    overflow: visible;
}
.player-button svg:hover{
    fill: #9a7fcc;
}
.player-buttons-left>.player-button:first-child {
    padding-left: 1em;
    width: 4em;
}
.player-buttons-right>.player-button:last-child {
    padding-right: 1em;
}
.player-volume{
    max-width: 17em;
    height: 3em;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
}
.player-volume__icon{

}
.player-volume-control{
    display: flex;
    flex-grow: 1;
    height: 3em;
    align-items: center;
    overflow: hidden;
}
#icon_volumemute{display:none;}
.player-volume-control__slider{
        max-width: 10em;
        display: flex;
        flex-grow: 1;
        outline: none;
        margin: 0 5px;
        padding: 0;
        height: 24px;
        position: relative;
        cursor: pointer;
}
.player-button svg{
    position: absolute;
    top: 0;
    left: 0;
    width: 3em;
    height: 3em;
    fill: #fff;
}
.player svg:not(:root) {
    overflow: hidden;
    -webkit-transform: translate(0);
    transform: translate(0);
}
.player-buttons-left>.player-button:first-child svg {
    left: 1em;
}


.player-interface__bottom .player-buttons-right{
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
    justify-content: flex-end;
    position: relative;
    pointer-events: auto;
    flex: 0 1 auto;
    max-width: 100%;
}
.quality-selector{
    display: flex;
    margin: .5em;
}


.chat{
    position: fixed;
    left: 0;
    top: 0;
    width: 350px;
    height: 500px;
    min-width: 200px;
    min-height: 200px;
}
.chat-container{
    display: flex;
    flex: 1 1 auto;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    font-size: 17px;
    background: rgba(41, 41, 41, .7);
    color: white;
    text-shadow: 0 1px 1px black;
    padding: 1em;
}
.chat-container::-webkit-scrollbar {
    display: none;
}
.chat-lines{
    height: 100%;
    word-break: break-word;
}
.chat-lines .message{
    margin: .4em 0;
    width: 100%;
}
.chat-lines .message .from{
    font-weight: bold;
}

.chat .drag-handle {
    z-index: 10000;
    position: absolute;
    background-size: 22px 22px;
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 30px;
    cursor: move;
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    background-image: url('data:image/false;base64,iVBORw0KGgoAAAANSUhEUgAAAIAAAACACAYAAADDPmHLAAAABHNCSVQICAgIfAhkiAAACEpJREFUeJztnUuP5NQVx3/n3mGGBLIIAmWVb5CsIrKJEmWdLFkhEJCZaXrIDCAU5tWPmQYE0iAQEtM9D0VskiiLiD0fIFJWfI5IbLJJRKAZ+7Lwo13VrnL5VT5lH0utUv+q6vY553/t+2/7+hpOb25C7BZwoCSWIVn+xjlAJsL2RSQAAbitML51sJk3n2C2d3jgyZGyfe99Jn72c6AovnUwSTmQ9Iz5L/yo+IERsb0S8UPKbld8dyzMAY+THg0cs4cFTYGuU/zsZ19ZzH2w+aOBiqD6ZrsriB+A4Jx7T0nM62CDB6BK/ALbU5hHb+I7ksOChqC6ZjsNxC8OB1ry6JpNwgS2ET9j+wry6JpNwgTe9N7HtBM/+9lVlltbNnoT2KX4mTF8R0luXbPBA+ia3eha/AK7qTDfTsQfiwnsU/wAxMCOonzbsNGZwOs9i5+xrBMMnW8bNi4TKLI28YtHghuaalCTjccEinBtzeLnnUBEbmmoQUs2eACbKH7GYuCatrrUYPm2cSZQhKsDiz8/HKioSw22uSZQkfhFY3h96LrUYJtrAkV4W5n4xSPBVU21WsJyE3gmDbz45g+Br4FIIfsxyP+iKLpAUnQALyJnoyj6ZgF7Dvg9gPeeKMqaSj+4nH0B/GOFv5Ez4CfAVwpqVcWKuudvauqlXbEPaL6X31GURx+MM+mrA36Avl7amokIzrm6e36OtOTRAxPAZcbvMSVBdc7SwzTFbdWhwDnnteTRMctmCMcu/eWYkzFBU6CtWRzHs7t0DR8QQjjWkkcP7BgIm2YC27AmJnDMdYnh9P/+Qwdl4q+5LmYClzM1efTAzARWMTOBwwdqJtBMoPmAnpiZwAmLbybQxDcTWMnMBA4fqJlAM4HmA3piZgInLL6ZQBPfTGAlMxM4fKBmAs0Emg/oiZkJnLD4ZgJN/P5M4NOKkhybCTzXUXv9mEARXhORbU1FG5kJfAl4raP2joHgSIQPDRuZEd85f6iwaI19QAghR0ryEOBIRF5v2d7/6dIEinDJOX8YRZGjg87UAxuLCRTvvYQQPga2uqhLaxOYin+Uiq+uaGMygSJyLo3PAUfp618bttfeBIqwrVl8RmYCQwjfFcPz3t8FXmzQXnsTmIp/b058RETVaeWRmcD5Ic0Bh8B2g/aam8BF4qdF+1ZBgcZqAstidsA9Eblco73mJlCEVxeJnwZlJrBfE1gWswshfAKcr1uXWiYwFf/+EvHVFW2kJrAsZgc8SF//vkJ79UzgJorPuE1gWczOe38PeL6ivXomUIStFcU3Ezj8kOaA+8DFivZWM4Gp+A9WEd9MoJo8HPBQRC4taC83gWeKbcz/MRHZcs6tLH7Kfgc8IyKIyNl0D8zH4wHYr1csWhn7rYh8qCQPROTZGn7GRVH0KfAN8FmZvsXt1DqBInLRex+hbzUuY/VYRDIcrL5OoIk/OpZ1gmxbvE6giT9aFgF/INnryxeLFpELJv6o2aPUGBaHAhN/YuwR8Mq8/ib+tFjWCTzAeREx8SfGnHOPgJcdIIUTHkCrCyfGNoTFcSwklwAAuEDiElX1UmO9sfl/CwHYMh8wCRZxMp8w37IzgVvpBzQEaqxf8ReeCbwIRAqDN9Ze/FdTjZc/MURErlA4EigI3lh34i8+E5i+mV00yIcDhQkZqyf+dom+wOlnBc1fLtz2fun8vzL2T+BLwDvnfAjhuHhdfQD2K+CXFTEvYl8C/1KSByL8wjn/mxp5xMAfgYfUvRzMSW/Zpp4xfJuSnjYUE5EPWuxFH2nJg2Ro3q2RRwRcWtKeAH6VOYEPSW5IjFfcizTNnpnanMDinn+ZZJJo+zmBwGci8lba8NIAbE7g4NPCAnCFxeLXmxPISe87IhlP4oqi2ZzAYcW/TDIpdFl7jW8MeQhc8d7HSwpZ2ZmUFa2Kacpj0Y0hxT2/SvyZujS5O/hvaQCH6fdUF20iN4Zk4t+r0V6ru4PvkxxqyoyhtqKN3QQG4HXqid/JEjF/FpE/zRtDM4FrHdIy8Y8atNd+iZgQwl2SQ09uDM0ErlX8N2gmfqdLxNwH3vDeBzOBazOBmfiHbevS1TqBf0mLdldb0UZoAgPwJu3FF8BlHSAbt9ssFXdEsvc/qaxorUxgHMcq8uDEBL5JsqO1ac8BZ4Fvs1/mLwq1OYf90xbf7YPdoeGVNBG5oygPDzzVUXv55eA+Fov+d4vvmg9Yzv7TYXu2WPSGid9LXWyx6OVMTR49MHtiSBXTdiawQ2ZPDFmFKT4T2AWzJ4bUYJryMBPYgJn4ZgJN/DlmJrCKmQkcPlAzgWYCzQf0xMwETlh8M4EmvpnASmYmcPhAzQSaCTQf0BMzEzhh8c0EmvhmAiuZmcDhAzUTaCbQfEBPzEzghMXfWBN4BnghZSIij88dpk8xEfl5UxMows9ALlb9jTn2OfBfBbVayQRmuc48MST9wtBz4BexayR3JWtbjSsGriqr1SK2fJ1ARYGWMhHZ5+SmVhO/PltpnUDt7DppJ1Ag/jVFdanLBg+gDbvpvZ85EmDi12H5tmydQO1sh8JwsGbxryupQRO2+LFxygJdhd1gvcZw08XfbBNYxpxzB6zHGG66+J6RmMAytkP/4t9QlG8XbPAAumZ7Jn598TfZBJaxPboX/6aS3LpiozKBZWyX7oaCsYk/PhNYxpxz79Je/J2h8+iBjdYElrF8ODDxS9ngAayD3Wog/q7CPHoTf2wmsIzdxsQvstGbwDJ2i2rx95TF3AebhgksY86595m2+J4lJrBsKBgjy4eDgvj7iuJbJ8s3ITksuImwA+fcvPia4lsHm9k8s0PBFNgBiS/QEMsQzH0P7miDEzIqrMIAAAAASUVORK5CYII=');
}

.chat .resize-handle {
    z-index: 10000;
    position: absolute;
    background-size: 22px 22px;
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 30px;
    cursor: se-resize;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAABHNCSVQICAgIfAhkiAAAAaRJREFUSIm9lrFKxEAQhr8/d3KIlZWVlQgqNpY+hdX1io2P4jvYyDVygr3gC4idYGdhIYKFrZUHY5HEbJbdbBLvshDI7r+zXyYzs7sCMpbbBFhCs7Ez0Ma4nJfSQuvVtJC3/4W20nzwIFBAmTdpCChQeTwkVIBliQkrgUK8lFYKjYFXDgUYByaEjK8kHVRdw4x34Bz47gotWwaMio8YF++1R9KjJJMwCQPegJ2UXcP4yM3qpi+uSZKegY++npbelq0pbl6zE4kZuUddoV3KyTDjFXRXSZoCZ32gZaeMsR8bNz4zYBuYSLqRZMA1sAZsABMSMfW0LAQOJcu6o02ACwf6IDF34IfAXgM0CE5lqKsVUFmR8bfAEfAJHDdAa1ld/n8i8QlpC4kvpz+VeJLY8uySh0QXKMDCjFOwuSO5G1LjwdO2nGLawoxL4MczSZ52WZtJEc2AfeCePNGIln1gPZF73XRHikEBdoHNgN0L+R4eW89C4L7bYJc/Z6E716qhELhzDQEF2pfTMqG1Q2JIKFAl1pDQv8ve4FDIN+zext54k2a+9guhZJrUvInXaAAAAABJRU5ErkJggg==) !important;
}

.chat .menu-button {
    z-index: 10000;
    position: absolute;
    background-size: 22px 22px;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    background-position: center;
    /*cursor: pointer;*/
    right: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    background-image: url('data:image/false;base64,iVBORw0KGgoAAAANSUhEUgAAAIAAAACACAYAAADDPmHLAAAABHNCSVQICAgIfAhkiAAADSNJREFUeJztnXusHFUdxz/fM7SlpbSUR4vh/ZCXoBWNgAiGVozyiEJAREQRRF4RxYCYQIKRh0QFNbzkGQkYU7WIJBIbnlKhgLZFizSAQKGUQos2LXBLe3tn/OPM7t273b13d+ecM6e7d5JN7v3svbO/3++7M/Od8xrYeDOjrOdY9Y1xgEZZz7Ahb27B0G9HAkwcZV3LlHPAfjPq/2HL2j/oYjY2/31q/nNs8flgBtic/GxgGHpaiClQl2yipFONMXcD84G3gH4gS5IkAyqvPoklxpjHgF8AR2JrFEseLlj92SCKoHyyL0msrBM6Y2PxGzKJZyUdFkEePljpAfhmRwEDnYpfw1YDe0eWW1FW3Qz2tBBDUE6ZxCIH4ldef4gpt4KsJ0zgHg7Fz4C1wDaR5FaE9YYJlHQi7sSvsP1iyK0g6xkTeCZuxc+AwyPJzQmrP+1PAPqAgS5hO1STSxIGBip/UojtHkluLlh161YTeCfujvzK6/JIcivKut8ESprjWPzMGHNbDLkVZL1hAo0xC3BsAiXNiiG3gqxnTOBLuDeBj0WSmytWSgDjgdOB+yWeNcY8AJzG4Ley6GdMAk7Emh2X4mfAeuAwh3XZTOJMY8wjwGLgz8DXsJflYOKHNIGfBl6gcXH/Buzc4WeMl3ScMeY32I4e10d+PXsZuA6YwWCPYrsx7yZpfpPPWAwcXKDOI7FSTOCF5D1wNC/uMuCQNj7jUOAOYLUnoVthbwI/B/Ztoy6HS7w1wmesA85yVPtaFtwETgJuaJJks8TPHWZ/W2MvIQtb3F8olkp6UNLxI9TlIqC/jTuPaxzrEdQETia/Hx8uySaJ38LQQRrjJH0beLWT/QVm84Fj6+oyBvh1h/u7nsHT9iZjAidVEm4xyUbsXmBXSV9MkuT5Nv+3dGaMeQL4LLYFcU7B/V3vWKPq5ssE/rKToo2y4dohuMKRRt5N4PmxFK3LWAp8vaBG3k3gwVgjF0vRuo31STqogEZeTeBY4F8RFq2rmMSTDB64UZnAL8dQoB5hxxTUrbq5NIGzIypQt7O7O9QIfJlAiYURFairmTFmXica4dMEGmMeiqVA3c4kze5QN68m8JxYCtQD7CsOdGv7H0ZiY4BnIilQN7N5FJ+yVt1ctwTulSTJ2xEWrVvYMmCnghp5bwn8PH4GZPQ66wc+VVCjYN3BP4ykaN3EvudAo2DdwZsZY2ZHULRuYbe41qj+yPcxEWEAeIh8eFPiboJGp2wd8BzwojFmWZqmy7Fz/gC2NMZMy7Js+yzL9sGO8BkbQcwAD2DHF4xlE5wYcjjlHkUvSLoqj2NcG3lMlHS0pJ9QM8K4pDymO9QDQo4JlDijhKL1A7MkHemwaDOMMfcCGwLmkQGZpJkO8wg6JnByYgdNhhI/BX6LXczB9QinCtsXuAdIQ32xJeY6zCPcmEBjzFUhCpT//AJ22LnzPBoxSV+QeCVQbhkbjzF0kYe/AmEbK1YHKtAd2KXugohfwyZhzzghLgULHedR3XyZwMs8FqPC+oHzHMbc6dngUmoavjzme7SjmL2bwPFA9drvqRjvA8c5jLkoO4XGS8+5rMGDDmIOYgJPcZx4oyM/JvEr26lJkgw5EziuQQrsXzDmICbwEceJ17NzPMTsil3sId/qyxhzncOYvRRjF9yszdeM3eohZtfMmzGUWF7zOU7Ed20CL/Io/mKsv4hF6GZsSpIkSzzVIANmFozPnwk0xjzlKfEB4JNF4wvIPoe9Zvu4FNxYID6vJnBX/DWV3ukgvtBstuMaVNirBeLzagK/5TDJ2t/XYSdYxiBqO2y/JEmGHBAO63JU0fg2q3uzlS7EKZIOyLJsMralb1dJ0yRtl6bpFOBj1R267R6dBaxsIb7Y2NKBgYE/Aid4qMs9kv4h6Z00Td8G3gCWSLwGeifLskUjxFfdWjGBMyXN9XyP25Rt4su1HxayVjVsA/Z2/PAG8bVlAk/B723dsMwYs8iBCKUyiRfLql+SJP3A8TXxtWUCt6Hc9Xcy4FIXIpTJjDHXeqhLO2wFg2f51k2gxHdKFj8DPu5ChJLZjEC1Go59s0F8wwdvjPlLCYHWsjV5TGULWJRtju28Kkv8zBjzO5qIP5wJXBo60Do216EIpTJJC8o8m0osqomvJRM4jvInd9zuUoQyWX4Elnk2XZ3HUjWBJv9lPbbJshJ85X5xUv5+acO5jTFvEM89fSGWpukrrurSIdsSK/wErOaZYbCtulHwW5QUaJWlabqMSAR0wFa4qkuHTMC22HkQKYz8xJAYJkX0DRPfpsb6HNalI4YdSFN9o9IUbLBdrEOClzQhghkxEI+ARVkMM6MqbwgwlTPAmEbBZ1m2psRAK9tE4hGwEJO0VQQH1HoGnySejmQCVzfZSTBmjJlGJAIWZXkHmpO6dMgybFtEyyZwFbChzNNWlmXTiERAB8zHU8zaYauwR37VBA75exrcuyZ+hzW1wh4dLr5NjD3tsC5tM2PMwrr4qttwLYF/Ch1oHVuF9SgxCFiEjQX6ym0J1O018bXcHXwOgQOtZ5Iq4wCLilAmO7RM8fOfT8pjaas7eCtgVcnBX+xIhNKYMeZqD3Vphy3Dip7Q7phASacTZt5bM/a0CxFKZosD1aoRW48dP9govpYTOgr4ZwnBZ1jH+mEHIpTFDglYq1qWAk9ih4Q1FL9y6jfYW5W1jHxLs7fEjlnGVGAPYPd8XZ2JWZbtjB0o6qM94PY0Tc9qIb4Y2R3YZwH6uNV7JU3TpVmWrcL2NSyV9DrwapZli6E6i6g+PlFzGXA5MeQST9/mPuADDuILzXYjf3iGB3P8jQ7j8zcxRNKHXCZZx24qGl8J7C7HNaiwlWw8rL/V+LzPDn7OUZL1rF/SoQ7iC8UOxdNoakl3O4rZS+JXuUiyceIsYPBZgrEI3YiNl3jOo+E7ocnntsOqm+vZwQd6drrXFIzPO5N0s8cavIM1dUVi9r5EzLMeEq+80rxtonShGzGJMz0fAEUnyQZZIua7HhKvZWuxc+RdxlyYSTomSZL1HvKtfc0oGHOQJWKmAO96PhLexT6WNSbx13rMNwP+7TgPfwUyxtzsuRhZkiTvA1/1mUcrTNIZAY78TNJ5DvOobr7WCdyDfOSJj2LUsBT4Gfa6Flr8zSXdkCRJdSUQj/m+jh276SKPYItF3+qpGBsxY8wz1KxP4DiPRuwTEotCte1LnOsoj6CLRe+SJElfiALlP/cDN2CHX/kSf0fgNuxwuVDi/wd37R/hFovO2ZW+C9SAvYddSGkfh3lMB27G3oGE7hU92WEeYUxgDTs4QIGasVTSPEmXAB+hvQcuG2C6pMuABfhb8asVto8HjTrqDm6XJcD9wMyk/EkRAP+TtFDSS2maLsF2oa4FkLR1PnR7B2zBP5okSQxj+QHuw3Ypv4sbjbx1B9ezuyjniOk6JnG9I42CmcBLyi5aF7JKO0D0JvAzBHTJPcTWSTrCkUZDNpfi7ymxMqKidRWTWMrgLCMn4rtsCRwXsnGkh9kT2HaB6FoCL4ykQF3PCvQL+DOB+aKOURSo25mkRzvUzasJXBNLgXqALXGgW9v/MBLzNSB0lG3MHi+oW3VzaQKviKhA3c6+36FG4NEEbp8kyapICtTNbDl2okxcJjBnp0VQoG5mqaSTCmgUpCXwpsiK1jXMGHONI42GbC7FBxhnjJkTS9G6hRljfk/nU8KCmMBaNpH8AZIFEn8YmGmM+Sm2O7N0EdphEiuAs7FD2OcVFP9+7LXbhUbBxgRuIfFwh4nflsdW2d9OOVsfm9AN2BpJP8Kut1ypy7YSszrZXy6+qwGhQccEJsB2UluLTW3A3uI03J+kAyTdCLzX4v5CshXGmCuxa/I2qouAy2lj0qgxZhbujvxgJrCeJcC1QDpC4suBI1rYH8DW2L6HxcPsLwRLgb9i7362baUukk6Q+O8InzGQry3k6pof1AQ2S/xkiTeaJD4f+9zhTj7jQOBq4PlA4g9IehL4AXYRiE5i3gs706fRZ7wm6bhO69wiq26+TGAzNhG4AJibJMkSSY9hjdIYR5/xQeAy/Ig/IOkCYJqjukyQdLGkx4GXsab3fGBqwRqMxIKZwNKYxFIPt2F/jyG3giy4CSyF+eialjQrhtwKslJMYBnsUdz7gF9FkpsTNtITQzZ19mY1OXdj9FdGkpsLNvwTQyIKtFO2BJyKD/B6JLkVZcEmhpTJznZtAiUdHUluRVhvmEBJp+C+PWD/GHIryHrGBE7HrfjrGWyPLzs3V6z0AHwyQ/7oW0eXgjkR5eaCVbfQLYEhmSsfsB44KLLcirDubwmsYZdhVw7pVPyVwLER5OGK9YYJrGN7Aj82xjzFyHMX0iRJlkm6D/vInEkR5eGCVU1grfCVN2O5T/XNJgNT80UhKs9NXJe/34d9WFVsMftg1S22b+koGzWBo8wj6ykTOMqGsp40gaNskDVtCWx0KRhl3c2qm7CnBTPKeoYN2RIa3xaOsu5l5v8lvzopZb6YxAAAAABJRU5ErkJggg==');
}
.chat-options{
    background: white;
    border: 1px solid black;
    padding: 1em;
    position: absolute;
    right: 0;
    top: 0;
    display:none;
}
.chat .menu-button:hover + .chat-options{
    display: block;
}
.chat .chat-options:hover{
    display: block;
}
.chat-options .chat-option{

}
.chat-options .chat-option .title{
    display: block;
}
.chat-options .chat-option .input{
    
}
.chat .chat-buttons{
    display: none;
}

.chat:hover .chat-buttons{
    display: block;
}
.seeking-overlay{
    display: none;
    position: absolute;
    height: 100px;
    margin: auto;
    text-align: center;
    top: 0;
    bottom: 0;
    left: 0;
    color: white;
    z-index: 99999;
    font-size: 4em;
    right: 0;
    text-shadow: 0 1px 1px black;
}
.seeking-overlay span{
    background: rgba(0, 0, 0, .5);
    padding: 0 1em;
    padding-top: 7px;
    border: 1px rgba(255, 255, 255, .5) solid;
}

.chat-emote{
    max-height: 1.7em;
    vertical-align: bottom;
}

.preview-and-time{
    text-align: center;
    display:none;
    bottom: 5px;
    position: absolute;
    border: 1px solid #5f5f5f;
    background: black;
    padding: 3px;
}
.hover-preview-container{
    display:none;
    overflow:hidden;
}
.hover-preview-img{
}
.player-hover-time{
    padding-top: .5em;
    line-height: 1em;
}
.user-badges{

}
.user-badges .badge-img{
    margin-right: 5px;
    vertical-align: middle;
    margin-bottom: 3px;
    border-radius: 3px;
}

#chat-option-syncTime{
    font-size:20px
}

#chat-option-syncTime::-webkit-inner-spin-button{
    padding: .8em;
    opacity: 1;
}

